$primary: #006BFF;
$secondary: #F9F9F9;
$warning: #ff930a;
$danger: #d1105a;
$info: #93caf6;
$success: #5dd39e;

$primary-dark: darken($primary, 10%);
$secondary-dark: darken($secondary, 10%);
$warning-dark: darken($warning, 10%);
$danger-dark: darken($danger, 10%);
$info-dark: darken($info, 10%);
$success-dark: darken($success, 10%);

:root {

  --header-height: 56px;

  /* Main Color Palette */
  --primary: #{$primary};
  --secondary: #{$secondary};
  --warning: #{$warning};
  --danger: #{$danger};
  --info: #{$info};
  --success: #{$success};

  /* Darken Color for hover */
  --primary-dark: #{$primary-dark};
  --secondary-dark: #{$secondary-dark};
  --warning-dark: #{$warning-dark};
  --danger-dark: #{$danger-dark};
  --info-dark: #{$info-dark};
  --success-dark: #{$success-dark};

  /* Gray Scale */
  --dark: #212529;
  --gray-700: #343a40;
  --gray-600: #495057;
  --gray-500: #6c757d;
  --gray-400: #adb5bd;
  --gray-300: #ced4da;
  --gray-200: #dee2e6;
  --gray-100: #e9ecef;
  --light: #f8f9fa;
}
