@import 'reset';
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Figtree", sans-serif;
  height: 100%;
  font-size: 13px !important;
  overflow: auto;
  margin: 0;
}

a {
  text-decoration: none !important;
}

#root {
  height: 100%;
}

.w-100 {
  width: 100%;
}